<!--
  Generated template for the FilmDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ film.title }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-card>
      <ion-card-content>
        {{ film.opening_crawl }}
      </ion-card-content>
    </ion-card>
  </ion-content>
