<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
      {{ film.title }}
    </button>
  </ion-list>
</ion-content>
